
<div class="label1">
   <h1> Here's what people are saying</h1>
    </div>

    <img id="testimonial" src="assets/img/man.png" alt="Next time I do a phone screen I think I will try using http://collbedit.com">

    <img id="testimonial" src="assets/img/horse.png" alt="collabedit is pretty awesome for teaching people stuff, which is exactly what i used it for today (in JavaScript)">
    <img id="testimonial" src="assets/img/dani.png" alt="Nice tool to write code remotely and together: http://collabedit.com">

    