<h5>Welcome</h5>
<!-- <nav class="navbar navbar-default" style="width: 20;">
    <div class="container-fluid">
      <div class="navbar-header">
        <a href="#" ><h1>Collabedit</h1></a>
        <p style="color: ivory;">Simple Collaborative text</p>
      </div>
      <span style="margin-left: 20px;">
        <a style="color: azure;" href="/new">New</a> |
        <a style="color: azure;" href="/download">Download</a> |
        <a style="color: azure;" href="/history">History</a> |
        <a style="color: azure;" href="/invite">Invite</a> 
      </span>

      <span id="docnamespan" style="margin-top: 1000px; border: 1px solid black;background-color: #E1F2F9;
      padding: 3px 15px 4px 15px">kkrqy
      </span>
      <div class="text-right mb-3">
        <a href="#" class="btn btn-primary" style="margin-top: 20px;">Login</a>
    </div>
      </div>
  </nav> -->

 