<!-- <div class="container">
  <nav class="navbar navbar-inverse">
    <div class="navbar-header"></div>
    <ul class="nav navbar-nav">
      <li><a routerLink="/home">Home</a></li>
      <li><a routerLink="/calendar">Calendar</a></li>
    </ul>
  </nav>


  <div class="row">
    <div class="col-sm-3">
      <ejs-calendar id=calendar [value]='value' [min]='minDate' [max]='maxDate' > </ejs-calendar >
    </div>
  </div>

<div class="col-sm-7">
  <router-outlet></router-outlet>
</div>
<div class="col-sm-2"></div>

</div> -->
<div class="container-fluid">
  <nav class="navbar navbar-inverse">
    <div class="container-fluid">
        <ul class="nav navbar-nav ">

          <li><a routerLink="/home">Home</a></li>
          <li><a routerLink="/calendar">Calendar</a></li>
        </ul>
      </div>
  </nav>

  <!-- <div class="row">
      <div  class="col-sm-3" style="padding-top: 1.5cm;">
        <ejs-calendar id=calendar [value]='value' [min]='minDate' [max]='maxDate' > </ejs-calendar >
      </div> -->
    <div class>
      <router-outlet></router-outlet>
    </div>
  
  </div>
