<h3>Useful For</h3>
<div class="container">
    <div class="row">
      <div class="col-sm-4">
       <a href="">
        <img src="assets/img/phone.png" alt=""></a>
       <br>
       <a href="#">Technical Phone Interview</a>
      </div>
      <div class="col-sm-4">
        <a href="">
        <img src="/assets/img/code.png" alt=""></a><br>
        <a href="#">Collaborative Coding</a>
      </div>
      <div class="col-sm-4">
        <a href="">
          <img src="/assets/img/teach.png" alt=""></a><br>
        <a href="#" >Teach Programming</a>
      </div>
    </div>
  </div>
  <hr class="new1">