<div class="container">
    <!-- <div *ngFor="let myWeathers of myWeather"> -->
    <h1>{{myWeather.cityName}}</h1>
    <h2>{{myWeather.temp}}</h2>
    <div class="img">
        <img src="https://openweathermap.org/img/wn/04d@2x.png">
    </div>
    <h3>{{myWeather.tempKind}}</h3>
    <h3>Humidity:{{myWeather.humidity}}</h3>
    <h4>Max : {{myWeather.tempMax}} &deg;</h4>
    <h4>Min :{{myWeather.tempMin}} &deg;</h4>
</div>
<!-- </div> -->

    <div>
        <h2>{{date}}</h2>
        <h2>{{date | date:'short'}}</h2>
    </div>

