<div class="container-fluid">
    <h2>Registration Form</h2>
    <form [formGroup]="registrationForm">

        <div class="form-group">
            <label>Username</label>
            <input formControlName="userName" type="text" class ="form-control" >
        </div>

        <div class="form-group">
            <label>Password</label>
            <input formControlName="password" input type="password"  class ="form-control" >
        </div>

        <div class="form-group">
            <label>Confrim Password</label>
            <input formControlName="confirmPassword" type="password" formControlName="confirmPassword" class ="form-control" >
        </div>
        
        <button class="btn btn-primary" type="submit">Register</button>
    </form>
  
    {{registrationForm.value | json}}

</div>
