<div class="conatiner">
    <div class="row">
        <div class="col-md-6">
<h1 >Online Code Editor</h1>
<p>Collabedit is an online code editor that lets people collaborate in real-time.</p>

<p>It works in your web browser so no installation is needed.</p>

<p>Try it now, no account necessary, just click <a  href="#"> here.</a></p>
</div>
</div>
<ul>
<h1>Features</h1>
<li>text editor</li>
<li>chat</li>
<li>document history</li>
<li>syntax highlighting for programming languages</li>
</ul>
</div>
<div class="text-right">
    <a href="#" class="btn btn-lg btn-warning" style="margin-top: -550px; font-size: 30px;" (click)="onClick()"><b >Create a New Document</b></a>
    <div>
        <p style="margin-top: -230px; font-size: 20px; margin-left: 20px;">Programming Language Stats</p>
    </div>
    <div>
        <div class="col-md-5">
    <table class="table table-borderless" style="margin-left: 175px;  ">
        <thead style="margin-left: 150px;">
            <tr>
                <th scope="col">Language</th>
                <th scope="col" colspan="2">Last 24 Hours</th>
                <th scope="col" colspan="2">Last 30 Hours</th>
            </tr>
        </thead>
        <tbody style="text-align: center;">
            <tr>
                <td>Java</td>
                <td>168</td>
                <td>14.5%</td>
                <td>3907</td>
                <td>14.7%</td>
                
                
                
            </tr>
            <tr>
                <td>Python</td>
                <td>100</td>
                <td>8.5%</td>
                <td>2701</td>
                <td>10.7%</td>
                
            </tr>
            <tr>
                <td>CPP</td>
                <td>51</td>
                <td>4.5%</td>
                <td>1540</td>
                <td>14.7%</td>
                
            </tr>
            <tr>
                <td>JS</td>
                <td>78</td>
                <td>4.5%</td>
                <td>1484</td>
                <td>14.7%</td>
                
            </tr>
            <tr>
                <td>CSS</td>
                <td>30</td>
                <td>4.5%</td>
                <td>558</td>
                <td>14.7%</td>
                
            </tr>
            <tr>
                <td ><b>Total</b></td >
                <td colspan="2"><b>1160</b></td>
                <td  colspan="2"><b>26631</b></td>
            </tr>
        </tbody>
    </table>
</div>
<div class="row" style="text-align: end;">
    <p style="margin-top: 285px; font-size: 15px;"><a href="#" >more detail...</a></p>
</div>
    </div>
 </div>

 <!-- <a routerLink="/editor"  routerLinkActive="active"></a> 
 <a routerLink="/collaborators"  routerLinkActive="active"></a> 
 
 <router-outlet></router-outlet>  -->
 
 <!-- <app-collborators></app-collborators> -->


