<!-- <app-radio-button-ng-if></app-radio-button-ng-if> -->
<!-- <app-header (featureSelected)="onNavigate($event)"></app-header>
<div class="container">
  <div class="row">
    <div class="col-md-12">
      <app-recipes *ngIf="loadedFeature === 'recipe'"></app-recipes>
      <app-shopping-list *ngIf= "loadedFeature !== 'recipe'"></app-shopping-list >
    </div>
  </div>
</div> -->

  
<!-- <table class= "table table" >
  <th>Sr No</th>
  <th>Name</th>
  <th>Location</th>

 <tbody>
  <tr class ="active">
    <td>1</td>
    <td>Vinayak</td>
    <td>Pune</td>
  </tr>

  
  <tr>
    <td>2</td>
    <td>Sanket</td>
    <td>Dhhule</td>
  </tr>
</tbody>

<app-regi-form> </app-regi-form>
  

</table> 

<app-server></app-server> -->

<app-emp-list></app-emp-list>
<hr>
<app-emp-detail></app-emp-detail>
